{% extends 'base.html' %}

{% block title %}首页{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static',filename="css/main.css") }}">
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="{{ url_for('static',filename="js/main.js") }}"></script>
    <script src="/static/js/base.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/simplePagination.css') }}" />
{% endblock %}
{% block movies %}
    {% for movie in movies %}
        <div class="movie">
            <img src={{ movies[movie].image }} alt>
        </div>
    {% endfor %}
{% endblock %}
{% block main %}
    {% for movie in movies %}
        <div class="show-list">
            <div class="movie-info">
                <div>
                    <h3 class="movie-name">{{ movie }}</h3>
                    <span class="score">{{ movies[movie].score }}</span>
                </div>
{#                <div class="movie-desc">#}
{#                    <div>#}
{#                        <span class="key">主演 :</span>#}
{#                        <span class="value">#}
{#                            {% for actor in movie.actors %}#}
{#                                {{ actor }}#}
{#                                {% endfor %}#}
{#                        </span>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    {% endfor %}

    <div class="cinemas-list">
        <h2 class="cinemas-list-header">影院列表</h2>
        {% for cinema in cinemas%}
            <div class="cinema-cell">
                <div class="cinema-info">
                  <a href={{ url_for('cinema',curCity=city,name=cinema.name) }} class="cinema-name">{{ cinema.name }}</a>
                  <p class="cinema-address">{{ cinema.address }}</p>
                </div>
{#                <div class="price">#}
{#                    <span class="rmb red">￥</span>#}
{#                    <span class="price-num red"></span>#}
{#                    <span>起</span>#}
{#                </div>#}
            </div>
        {% endfor %}
    </div>

{% endblock %}

{% block pager %}
    <div class="cinema-pager">
        <div class="pagination-holder clearfix">
            <div id="light-pagination" class="pagination" data-name={{ groups }}></div>
        </div>

    <script src="{{ url_for('static',filename='js/jquery.simplePagination.js') }}"></script>
    <script src="{{ url_for('static',filename='js/pagination.js') }}"></script>
  </div>
{% endblock %}
